form {
    max-width: 400px;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #C7BA9E;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form input[type="submit"] {
    background-color: #5CC8C8;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  form input[type="submit"]:hover {
    background-color: nenhuma cor;
  }
  
